<!-- views/partials/_header.ejs -->
<% if(user) { %>
  <form action="/logout" method="POST">
    <%= user.email %>
    <input type="submit" value="Logout">
  </form>
<% } else { %>
  <form action="/login" method="GET">
    <input type="submit" value="Login">
  </form>
  <form action="/register" method="GET">
    <input type="submit" value="Register">
  </form>
<% } %>
