<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <main>
    <section class="content">
      <h1>The short URL and the long URL</h1>
      <p>Short URL: <%= shortURL %></p>
      <p><form action="/urls/<%= shortURL %>?_method=PATCH" method="POST">
        <label for="longURL">Long URL:</label>
        <input id="newLongURL" type="text" name="newLongURL" value="<%= longURL %>">
        <input type="submit" value="Update">
      </form></p>
      <a href="/urls/new">Shorten a URL</a>
      <a href="/urls"> Back to index</a>
    </section>
  </main>
</body>
</html>
